header{
	width:100%;
}
header nav{
	background-image:url("bg_header.jpg");
	max-width:1000px;
    z-index:1000;
	width:100%;
	margin:20px auto;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
.menu_bar{
	display:none;
}
header nav ul{
	list-style:none;
}
header nav ul li{
	display:inline-block;
	position: relative;
}
header nav ul li:hover{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.35)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 100%);

}
header nav ul li a{
	font-size:20px;
	color:#fff;
	padding:15px;
	display:block;
	text-decoration:none;
}

header nav ul li a span{
	margin-right:10px;
	font-size:130%;
}

header nav ul li:hover .children{
	display:block;
	z-index:1001;
}
header nav ul li .children{
	display:none;
	background-image:url("fondo.jpg");
	position: absolute;
	width:120%;
	z-index:1000;
}
header nav ul li .children li{
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(225, 225, 255, 0.8);
}
header nav ul li .children li a{
	display: block;
}

header nav ul li .children li a span{
	float:right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .icon-chevron-small-down{
	position: relative;
	top:3px;
	margin-left: 10px;
	margin-right:0px;
}
@media screen and (max-width:800px ){
.noscroll{
 overflow: hidden;
}
	.menu_bar{
		display:block;
		width:100%;
		postion:fixed;
		top:0;
		background-image:url("header.jpg");
	}
	.menu_bar .bt-menu{
		display:block;
		padding:20px; 
		color:#fff;
		background-image:url("header.jpg");
		overflow:hidden;
		text-decoration:none;
		font-weight:bold;
		font-size:25px;
	}
	.menu_bar span {
		float: right;
		font-size:40px;
	}
	header nav{
		width:80%;
		height:1700px;
		right:100%;
		margin:0;
		position:absolute;
	}
	header nav ul li{
		display: block;
		float:none;
		border-top:solid;
		border-top-color:rgba(225, 225, 225, 0.3);
	}
	
	header nav ul li a{
		display: block;
	}
	header nav ul li:hover .children{
		
	}
	header nav ul li .children{
		width:100%;
		position: relative;
	}
	
	header nav ul li .children li a {
		margin-left: 20px;
	}
	
	header nav ul li .icon-chevron-small-down{
		float: right;
	}
	header nav ul li a:hover{
		font-size:100%;
		border-left:groove;
		border-left-width:15px;
		border-left-color: gray;
	}
}
