*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#all{
	height:95%;
	width:100%;
	repeat-y:no-repeat;
}
body{
	background-image:url("entrenamiento.png");
}
section{
	text-align:justify;
	margin-left:12.75%;
	margin-right:12.75%;
	padding:20px;
	color:rgba(255,255,255,0.8);
}
#tu_hermana{
	text-decoration:line-through;
}
.contenedor{
	float:left;
}
h1{
	margin-top:20px;
	text-align:center;
	color:rgba(255,255,255,0.8);
	font-size:32px;
}
h2{
	margin: 0;
	font-size:30px;
	margin-bottom:20px;
	text-align:center;
	color:rgba(255,255,255,0.8);
	font-size:120%;
}
input, textarea{
	min-width:100%;
	max-widht:100%;
	margin-bottom:20px;
	padding:7px;
	box-sizing:border-box;
	font-size:17px;
	border:none;
}
form{
	width:450px;
	margin:auto;
	background:rgba(0,0,0,0.4);
	padding:10px 20px;
	box-sizing: border-box;
	margin-top:20px;
	border-radius: 7px;
}
textarea{
	min-height:100px;
	max-height:200px;
	max-widht:100px;
	resize:none;
}
#boton{
	background-color:#31184A;
	color:#fff;
	padding:20px;
	display:block;
}
#boton:hover{
	cursor:pointer;
}

@media (max-widht:480px) {
	form{
		width:100%;
	}
}




























